* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }



body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;

}

footer {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #d6c4ac;
}

img {
    height: 200px;
    width: 200px;
    object-fit:cover
}

nav {
    padding: 14px;
    background-color: #acced6;
    border-bottom-width: 1px solid black;
}

a {
    text-decoration: none;
    color: blue
  }

  a:hover {
    color: rgb(4, 154, 57);
    text-decoration: none;
    cursor: pointer;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 45px 20px;
  /*border: 1px solid black */
  }

  div {
    margin: 15px;
  }

  h1 {
    margin: 8px;
  }

  h2 {
    margin: 8px;
  }

  table {
    margin-bottom: 25px;
  }


  ol
  {
     display: inline-block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 2px;

  }

ol li {
    margin-top: 8px;
}

  table tr:nth-child(even)
  {
    background: #e2e2e2;
   }
